@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: #0c0c0c
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    padding: 2.5rem 2.5rem 0 2.5rem;
    background-color: #FFFFFF;
}
.wrapper-first{
    height: 100vh;
    color: #2F2F2F;
    max-width: 1024px;
    margin: 0 auto;
    padding: 2.5rem 2.5rem 0 2.5rem;
    background-color: #FFFFFF;
    background-image: url("../img/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;flex-direction: column;
    justify-content: space-around;

}
.prop-wrapper{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.prop-item{
    line-height: 24px;
    white-space: nowrap;
    width: 30%;
    min-width: 280px;
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.second-prop-text{
    font-size: 0.8rem;
    margin-top: 0.1rem;
}
.header-title{
    white-space: nowrap;
    font-size: 1rem;
    justify-self: flex-start !important;
    color: #FF9A9A;
    text-align: center;
    text-transform: uppercase;
    font-variant: small-caps;
}
.header-desc{
    font-weight: 700;
    display: inline-block;
    font-size: 1rem;
    margin:2rem 0 1rem 0;
    width: 100% ;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
}
.header-desc2{
    font-weight: 400;
    display: inline-block;
    font-size: 0.8rem;
    width: 100% ;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Rubik', sans-serif;
}
.main-img{
    object-fit: contain;
    width: 64%;
}
.block-name_end{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.block-name_end span{
    font-size: 2rem;
    white-space: nowrap;
    text-align: center;
    font-weight: 700;
    user-focus: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
.block-name_start{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.block-name_start span{
    font-size: 2rem;
    white-space: nowrap;
    text-align: center;
    font-weight: 700;
    user-focus: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
.team-block{

}
.team-block_title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}
.team-members-block{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.member-item{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.member-image{
    width: 100%

}
.member-info{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.member-name{

    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
}
.member-job{
    font-weight: 700;
    font-size: 16px;
}
.create-desc{
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
}
.work-wrapper{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2.5rem 0 2.5rem ;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
    text-align: center;
}
.stages-list_block{
    background-color: #792785;
    width: fit-content;
    font-size: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    white-space: nowrap;
    font-family: 'Rubik',sans-serif;
    font-style: normal;
    font-weight: 500;
}
ul {

    padding: 0;
}
li{
    list-style-type: none;
    font-weight: 400;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif !important;
}
.num{
    font-weight: 500;
    margin-right: 6px;
    display: inline-block;
    width: 14px;
}

.app-info_title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;

}
.app-info_title img{
    margin-right: 1rem;
    width: 4rem;
}
.app-info_title a{
    text-transform: uppercase;
    font-weight: 700;
    color: black;

}
.app-info_title a:visited{
    color: black !important;
}
.app-info_block desc{
    font-weight: 500;
    font-size: 0.8rem;
}
.gp-logo{
display: flex;
    justify-content: center;
    align-items: center;
}
.gp-logo img{
    height: 48px;
    border-radius: 8px;
}
.privacy-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 48px;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0);
    white-space: nowrap;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid white;
}
.app-action_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}
.app-desc {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
}
.release-title{
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: #2F2F2F;
    text-transform: uppercase;
}
.abilities-block_title{
    font-size: 1.4rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem;
}
.abilities-block_desc{
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 2rem;
}
.abilities-props_block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}



.abilities-prop_item{
    display: flex;
    min-width: 223px;
    width: 30%;
    flex-direction: column;
}
.item__big{
    width: 35%;
}
.abilities-item_title{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-transform: uppercase;


}
.abilities-item_desc{
    text-transform: lowercase;
}
.cards-wrapper{
    max-width: 1024px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.card-title{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 1rem;
    width: 70%;
}
.left-card{
    margin-top: 2rem;
    padding: 24px;
    background-color: #DAAFEE;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.right-card{
    margin-top: 2rem;
    padding: 24px;
    background-color: #AB6DF5;
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.card-list{
    width: 70%;

}
@media screen and (min-width: 768px) {
    .card-title{
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-size: 1.2rem;
    }
    .header-title{
        font-size: 2rem;
    }
    .header-desc{
        font-size: 1.6rem;
    }
    .header-desc2{
        font-size: 1.4rem;
        margin:0 0 3rem 0;
    }
    .create-desc{
        font-size: 1.6rem;
    }
    .block-name_end span {
        font-size: 6rem;
    }
    .block-name_start span{
        font-size: 6rem;

    }
    .team-block_title{
        font-size: 2rem;
    }
    .prop-item{
        font-size: 1.6rem;
        line-height: 28px;
    }
    .stages-list_block{
        font-size: 2rem;
        padding: 1rem 2rem 1rem 3rem;
    }
    .app-info_block desc{
        font-weight: 500;
        font-size: 1rem;
    }
    .work-wrapper{
        font-size: 1.6rem;
    }
    .card-list li{
        font-size: 1rem;
    }
    .release-title{
        font-size: 1.2rem;
    }
    .left-card{
        width: 72%;
    }
    .right-card{
        width: 72%;
    }
}